# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# TypeScript
*.tsbuildinfo
dist/
build/

# Environment files
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/

# Misc
*.swp
